// Colors
$darkBlue: #29166F;
$darkBlueBorder: #29166fa4;
$red: #DA251C;
$white: hsl(0, 0%, 100%);
$lightBlue: hsl(252, 66%, 82%);
$veryLightBlue: #EAE8F1;
$veryLightBlue-bg: #eae8f1bb;
$hoverLinks: #C6C0D9;

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;